@import "~bootstrap/scss/bootstrap.scss";

.traffic-light {
    background-color: black;
    width: 150px;
    height: 400px;
    margin: 50px auto;
    border-radius: 15px;
    color: white;
    padding: 5px;
}

.traffic-light > div {
    border-radius: 50%;
    border: 1px solid white;
    height: 130px;
}

.red {
    &.active {
    background-color: red;
    box-shadow: 0 0 50px 30px lightcoral;
    }
    &.inactive {
    background-color: gray;
    }
}

.yellow {
    &.active {
    background-color: yellow;
    box-shadow: 0 0 50px 30px yellow;
    }
    &.inactive {
    background-color: gray;
    }
}
    
.green.active {
    background-color: green;
    box-shadow: 0 0 50px 30px yellowgreen;
}
.green.inactive {
    background-color: gray;
}
