@import "~bootstrap/scss/bootstrap.scss";

.traffic-light {
    background-color: black;
    width: 150px;
    height: 400px;
    margin: 50px auto;
    border-radius: 15px;
    color: white;
    padding: 5px;
}

.traffic-light > div {
    border-radius: 50%;
    border: 1px solid white;
    height: 130px;
    width: 140px;
}

.red {
    &.active {
    background-color: red;
    background-image: linear-gradient(red, lightcoral);
    box-shadow: 0 0 50px 30px lightcoral;
    }
    &.inactive {
    background-color: gray;
    }
}

.yellow {
    &.active {
    background-color: yellow;
    background-image: linear-gradient(yellow, rgb(242, 248, 155));
    box-shadow: 0 0 50px 30px yellow;
    }
    &.inactive {
    background-color: gray;
    }
}

.green {
    &.active {
    background-color: rgb(13, 218, 13);
    background-image: linear-gradient(rgb(13, 218, 13), lightgreen);
    box-shadow: 0 0 50px 30px yellowgreen;
    }
    &.inactive {
    background-color: gray;
    }
}    


// .red.active:after, .yellow.active:after, .green.active:after {
//     content: '';
//     position: relative;
//     top: 2px;
//     left: 2px;
//     width: calc(100% - 4px);
//     height: 50%;
//     background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
// }